{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
  <title>
    {% block title %}Dashboard - Car Parking Management System{% endblock %}
  </title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
  {% include '../dashboard/includes/nav.html' %}
  <div id="layoutSidenav">
    {% if request.user.role == "ADMIN" %}
      {% include '../dashboard/includes/admin-sidebar.html' %}
      {% elif request.user.role == "ATTENDANTS" %}
      {% include '../dashboard/includes/attendant-sidebar.html' %}
      {% elif request.user.role == "CLIENT" %}
      {% include '../dashboard/includes/client-sidebar.html' %}
      {% else %}
      <p>No sidebar available for your role.</p>
      {% endif %}

      <div id="layoutSidenav_content">
        <div class="col-12">
          {% if messages %}
          <div class="alert alert-dismissible fade show" role="alert">
              {% for message in messages %}
              {% if "success" in message.tags %}
              <div class="alert alert-success"><i class="fas fa-check-circle"></i> {{ message }}</div>
              {% elif "error" in message.tags %}
              <div class="alert alert-danger"><i class="fas fa-x-circle"></i>{{ message }}</div>
              {% else %}
              <div class="alert alert-info"><i class="fas fa-info"></i>{{ message }}</div> <!-- For other messages -->
              {% endif %}
              {% endfor %}
          </div>
          {% endif %}
      </div>
        {% block content %}
                <!-- Display Messages -->
                
        <!-- Page-specific content goes here -->
        {% endblock %}
  {% include '../dashboard/includes/footer.html' %}


</html>