{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Create Account - Car Parking System{% endblock %}

{% block content %}
<div class="content">
    <h3><i class="fas fa-circle-plus"></i> Create Account</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" value="{{ form_data.username }}">
            {% if errors.username %}
            <small class="text-danger">{{ errors.username }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" value="{{ form_data.first_name }}">
            {% if errors.first_name %}
            <small class="text-danger">{{ errors.first_name }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" value="{{ form_data.last_name }}">
            {% if errors.last_name %}
            <small class="text-danger">{{ errors.last_name }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ form_data.email }}">
            {% if errors.email %}
            <small class="text-danger">{{ errors.email }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="phone_number">Phone</label>
            <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ form_data.phone_number }}">
            {% if errors.phone_number %}
            <small class="text-danger">{{ errors.phone_number }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <select name="role" id="role" class="form-control">
                <option value="ADMIN" {% if form_data.role == "ADMIN" %}selected{% endif %}>Admin</option>
                <option value="ATTENDANTS" {% if form_data.role == "ATTENDANTS" %}selected{% endif %}>Attendants</option>
                <option value="CLIENT" {% if form_data.role == "CLIENT" %}selected{% endif %}>Client</option>
            </select>
            {% if errors.role %}
            <small class="text-danger">{{ errors.role }}</small>
            {% endif %}
        </div>
<br>
        <div class="form-group">
            <label for="is_active">Active Account</label>
            <input type="checkbox" name="is_active" id="is_active" {% if form_data.is_active %}checked{% endif %}>
        </div>
<br>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
            {% if errors.password %}
            <small class="text-danger">{{ errors.password }}</small>
            {% endif %}
        </div>
<br>
        <button type="submit" class="btn btn-primary"><i class="fas fa-circle-plus"></i> Create Account</button>
    </form>
</div>
{% endblock %}
