{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Delete Parking - Car Parking System{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2><i class="fas fa-circle-xmark"></i>Delete Parking Lot</h2>
    <p>Are you sure you want to delete the parking lot <strong>{{ parking_lot.name }}</strong>?</p>
    
    <form method="POST" action="">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger"><i class="fas fa-circle-xmark"></i> Yes, Delete</button>
      <a href="{% url 'parking' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}
