{% extends 'dashboard/base.html' %}
{% block title %}Dashboard - Car Parking System{% endblock %}

<!-- Sidebar -->


<!-- Main Content -->
<!-- Top Navbar -->

{% load humanize %}

<!-- Dashboard Content -->
{% block content %}
<div class="content">
  <!-- Stats Cards -->


  {% if request.user.role == "ADMIN" %}
  {% include '../dashboard/includes/admin-index.html' %}
  {% elif request.user.role == "ATTENDANTS" %}
  {% include '../dashboard/includes/attendant-index.html' %}
  {% elif request.user.role == "CLIENT" %}
  {% include '../dashboard/includes/client-index.html' %}
  {% else %}
  <p>No sidebar available for your role.</p>
  {% endif %}

</div>
{% endblock %}
</body>

</html>