{% extends 'dashboard/base.html' %}
{% block title %}Admin- Dashboard{% endblock %}

{% block content %}
    
    {% if request.user.role == "ADMIN" %}
        {% include '../dashboard/includes/admin-index.html' %}
    {% elif request.user.role == "ATTENDANTS" %}
        {% include '../dashboard/includes/attendant-index.html' %}
    {% elif request.user.role == "CLIENT" %}
        {% include '../dashboard/includes/client-index.html' %}
    {% else %}
        <p>No sidebar available for your role.</p>
    {% endif %}
                
                {% endblock %}

