{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Create Parking - Car Parking System{% endblock %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4"><i class="fas fa-pencil"></i> Update a Subscription Plan</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"> Dashboard </a></li>
            <li class="breadcrumb-item "><a href="{% url 'subscriptions' %}">Subscriptions</a></li>
            <li class="breadcrumb-item ">Update</li>
            <li class="breadcrumb-item active">{{ subscription.name }}</li>
        </ol>

            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Subscription Name</label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price (RWF)</label>
                    {{ form.price }}
                </div>
                <div class="mb-3">
                    <label for="discount_rate" class="form-label">Discount Rate (%)</label>
                    {{ form.discount_rate }}
                </div>
                <div class="mb-3">
                    <label for="terms" class="form-label">Terms and Conditions</label>
                    {{ form.terms }}
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-circle-plus"></i> Create Subscription
                </button>
            </form>
        </div>
{% endblock %}
