{% extends 'base.html' %}
{% block title %}Home - Car Parking System{% endblock %}

{% block content %}

    <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="content-center">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="brand" style="width: 500px; text-align: center;">
                  <h1 class="title" style=" color: #FFFFFF;">Explore More</h1>
                  <h3 class="description" style=" color: #FFFFFF;">On Our Parkings</h3>
                  <br />
                  <a href="#" class="btn btn-primary btn-round btn-lg">View Parkings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
{% endblock %}
  