{% load static %}
<div class="col-md-3 col-lg-2 d-md-block sidebar" id="sidebar">
  <div class="position-sticky pt-3">
    <div class="user-info d-flex align-items-center">
      <img src="{% static 'img/pngwing.com.png' %}" alt="User" class="rounded-circle" />
      <div>
        <div class="fw-bold">Administrator</div>
        <div class="fw-bold">{{ user.username }}</div>
        <small>{{ user.email }}</small>
      </div>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="sidebar-link {% if active_menu == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}" data-page="dashboard">
          <i class="fas fa-home me-2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link {% if active_menu == 'parking' %}active{% endif %}" href="{% url 'parking' %}" data-page="analytics">
          <i class="fas fa-chart-bar me-2"></i> Parking Lots
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link {% if active_menu == 'uaccounts' %}active{% endif %}" href="{% url 'uaccounts' %}" data-page="users">
          <i class="fas fa-users me-2"></i> Accounts
        </a>
      </li>
     
      <li class="nav-item">
        <a class="sidebar-link {% if active_menu == 'settings' %}active{% endif %}" href="#" data-page="settings">
          <i class="fas fa-cog me-2"></i> Settings
        </a>
      </li>
    </ul>
  </div>
</div>
