  <!-- Recent Activity Table -->
{% load humanize %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Subscription Progress</h5>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{ progress_percentage }}" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: {{ progress_percentage }}%"></div>
      </div>
      <br>
      
      {% if active_subscription %}
        <p>Time spent: {{ progress_percentage|floatformat:2 }}%</p>
        <p>Start Date: {{ active_subscription.start_date }}</p>
        <p>End Date: {{ active_subscription.end_date }}</p>
      {% else %}
        <p>No active subscription found.</p>
      {% endif %}
      
    </div>
  </div>