{% load humanize %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" href="{% url 'dashboard' %}">Car Parking</a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  <a href="/" class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-house"></i></a>
  <!-- Navbar Search-->

  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    
  </form>
  {% if request.user.role == "ATTENDANTS" %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTicketModal">
        New Ticket
    </button>
    
    {% elif request.user.role == "CLIENT" %}
    <button id="openSubscriptionModal" type="button" class="btn btn-primary">My Subscription</button>
    {% else %}
    
    {% endif %}
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i> &nbsp;{{ request.user.username }} &nbsp;</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="{% url 'logoutuser' %}">Logout</a></li>
          </ul>
      </li>
  </ul>
</nav>

